nav li{

margin-right: 20px;
    list-style: none;
}
nav li a{

    text-decoration: none;
    color: black;
}
nav > ul{


    display: flex;
}
nav > ul >li:hover{
    background-color: blanchedalmond;
}

body{


    margin: 0px;
}

nav > ul > li:hover > ul{

display: block;
position: absolute;
background-color: none;


}


.dropdown{
   
    display: none;
}
.fb:hover{

background-color: skyblue;


}
.google:hover{
    
background-color: #F4B400 ;



}
.digipeak:hover{

color: white;
background-color: black;
}
.badhon:hover{

background-color: green;

}